.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}
.btn-answer {
  cursor: pointer;
  width: 35vw;
  height: 4vh;
  padding: 2vw;
  background-color: rgb(34, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: 1vh;
  border: solid black 0.2vw;
  border-radius: 1vw;
  text-align: left;
  display: inline-flex;
  align-items: center;
}
.btn-correct-answer {
  background-color: rgb(24, 177, 24);
}
.btn-wrong-answer {
  background-color: rgb(207, 24, 24);
}
